@tailwind base;
@tailwind components;
@tailwind utilities;

/*fonts*/
@font-face {
    font-family : "markazi";
    src: font-url("Fonts/markazi.ttf") format("truetype");
}
@font-face {
    font-family: 'karla';
    src: url("Fonts/Karla.ttf") format("truetype");
}
/*animation*/
@keyframes moveY {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
}
@keyframes moveX  {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(30px);
    }
}
@keyframes fullSpin {
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes reloadNav {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes reloadNavX {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes reloadNavY {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

#headerT  {
    animation: reloadNav 1s ease-out 0.10s;
}
#headerP {
    animation: reloadNav 1s ease-out 0.20s;
}
#headerButton {
    animation: reloadNav 1s ease-out 0.30s;
}
#homeButton {
    animation: reloadNavX 1s ease-out 0.30s;
}
#week {
    animation: reloadNav 1s ease-out 0.30s;
}
#salad {
    animation: reloadNavX 1s ease-out 0.30s;
}
#aboutHeader {
    animation: reloadNav 1s ease-out 0.30s;
}
#aboutPara {
    animation: reloadNav 1s ease-out 0.30s;
}
#anime{
    animation: moveY 5s linear infinite;
}
#anime1 {
    animation: moveX 5s linear infinite;
}
#delivery:hover{
    animation: moveX 2s linear infinite;
}
#headerButton::before,
#homeButton::before,
#menuButton::before{
    content: '';
    position: absolute;
    background: conic-gradient(#2a1e1e 20deg, transparent 120deg);
    width: 378px;
    height: 300px;
    top: -108px;
    left: -25%;
    animation: fullSpin 3s linear infinite;
}
#menuButton::after{
    content: 'View All Menu';
    width: 96%;
    height: 90%;
    background-color: #F4CE14;
    position: absolute;
    top: 5%;
    left: 2%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    font-family: karla;
}
#headerButton::after{
    content: 'Reserve a Table';
    width: 96%;
    height: 90%;
    background-color: #F4CE14;
    position: absolute;
    top: 5%;
    left: 2%;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    font-weight: bold;
    align-items: center;
    font-family: karla;
}
#homeButton::after{
    content: 'Online Menu';
    width: 96%;
    height: 90%;
    background-color: #F4CE14;
    position: absolute;
    top: 5%;
    left: 2%;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    font-weight: bold;
    align-items: center;
    font-family: karla;

}
a:before {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 18px;
    background-color: #F4CE14;
    transition-duration: 0.9s;
}
#home:before {
    content: "";
    height: 2px;
    width: 59px;
    position: absolute;
    bottom: 18px;
    background-color: #F4CE14;
    transition-duration: 0.9s;
}
#home:hover:before {
    width: 59px;
}
#about:hover:before {
    width: 60px;
}
#menu:hover:before {
    width: 57px;
}
#Testimonials:hover:before {
    width: 114px;
}
#order:hover:before {
    width: 124px;
}
#login:hover:before {
    width: 57px;
}
#cardContainer{
    box-shadow: 11px 11px 24px 0 rgba(0, 0, 0, 0.25)
}
#delivery {
filter: invert(53%) sepia(90%) saturate(3158%) hue-rotate(16deg) brightness(95%) contrast(128%)
}
#container {
    filter: drop-shadow(18px 18px 15px rgba(0, 0, 0, 0.25));
}
::placeholder {
    font-family: Karla;
    letter-spacing: 1px;
    font-weight: lighter;
}
#cardContainer1{
    animation: reloadNav 1s ease-out 0.30s;
}
#cardContainer4{
    animation: reloadNavX 1s ease-out 0.30s;
}